# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDqIAxx3-MF1p8y8f83JTmyL0UpFld6qDk
VITE_FIREBASE_AUTH_DOMAIN=itadigital-site.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=itadigital-site
VITE_FIREBASE_STORAGE_BUCKET=itadigital-site.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=394433326216
VITE_FIREBASE_APP_ID=1:394433326216:web:f8f61dfee7d93ed663033d
VITE_FIREBASE_MEASUREMENT_ID=G-P10BF68CZ5

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zkbjmkabojhkleghirlc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InprYmpta2Fib2poa2xlZ2hpcmxjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3ODQzNDgsImV4cCI6MjA0OTM2MDM0OH0.N-VBLudRVmzM3Jf72JsZa11AXAMFr_w5jckXR35ZOq0
